@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
body {
    margin: 0;
    padding: 0;
}

header {
    width: 100%; /* Ajustez la largeur en fonction de vos besoins */
    height: 5.6875rem;
    background: #0C192E;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;

    color: #FFF;
font-family: Poppins;
font-size: 0.9375rem;
font-style: normal;
font-weight: 600;
line-height: 5rem; /* 533.333% */
}

.logo img {
    width: 3.3125rem;
    height: 4.375rem;
    flex-shrink: 0;
    margin-left: 1rem;
    margin-top: 1.5rem;
}

.trois-tirets {
    width: 2.45613rem;
    height: 1.43769rem;
    flex-shrink: 0;
    margin-right: 4rem;
    cursor: pointer;
    display: none; /* Pour cacher les traits sur les écrans plus grands */
}

.trois-tirets span {
    display: block;
    width: 30px; /* Ajustez la largeur des traits en fonction de vos besoins */
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}
input {
    visibility: hidden;
}
.nav-list a:hover{
    color: #F39200;
    
}

/* Ajoutez les styles pour le menu lorsqu'il est ouvert */
#menu-toggle:checked + .trois-tirets span:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

#menu-toggle:checked + .trois-tirets span:nth-child(2) {
    opacity: 0;
}

#menu-toggle:checked + .trois-tirets span:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* Styles pour la liste de navigation */
.nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-list a {
    text-decoration: none;
    color: white;
    margin: 0 15px;
}
.social-media img {
    margin-top: 2rem;
    margin-left: 1rem;
}


/* Ajoutez ces styles spécifiques pour les tablettes dans votre fichier cilabook.css */

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    
    .trois-tirets {
        display: block;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #0C192E;
        text-align: center;
        padding-top: 1rem;
    }

    #menu-toggle:checked + .trois-tirets + .nav-list {
        display: flex;
    }

    .nav-list a {
        margin: 15px;
    }
      
}

/* Ajoutez ces styles spécifiques pour les téléphones dans votre fichier cilabook.css */
@media only screen and (max-width: 768px) {
   
    .trois-tirets {
        display: block;
    }

    .nav-list,.social-media img {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #0C192E;
        text-align: center;
        padding-top: 1rem;
    }

    #menu-toggle:checked + .trois-tirets + .nav-list {
        display: flex;
    }

    .nav-list a {
        margin: 15px;
    }
}
